[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
requests = "*"
sqlalchemy = "*"
flask-dance = "*"
flask-sqlalchemy = "*"
sqlalchemy-utils = "*"
blinker = "*"

[dev-packages]

[requires]
python_version = "3.6"
